# 필요 패키지 설치🦾

In [ ]:
!pip install rdflib
!pip install owlready2

Collecting rdflib
  Downloading rdflib-7.0.0-py3-none-any.whl (531 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 531.9/531.9 kB 8.1 MB/s eta 0:00:00
Collecting isodate<0.7.0,>=0.6.0 (from rdflib)
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: pyparsing<4,>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from rdflib) (3.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate<0.7.0,>=0.6.0->rdflib) (1.16.0)
Installing collected packages: isodate, rdflib
Successfully installed isodate-0.6.1 rdflib-7.0.0
Collecting owlready2
  Downloading owlready2-0.45.tar.gz (27.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.3/27.3 MB 23.6 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: owlready2
  Building wheel for owlready2 (pyproject.toml) ... done
  Created wheel for owlready2: filename=owlready2-0.45-cp310-cp310-linux_x86_64.whl size=24077389 sha256=23cbc1a6e124f0346738a3ccd15b650e6a4b178b5f2680b7fd26cf4e8dd08068
  Stored in directory: /root/.cache/pip/wheels/5c/f4/9d/249b1671d391e3feddd443c7d0eb79a732afabc9f370591271
Successfully built owlready2
Installing collected packages: owlready2
Successfully installed owlready2-0.45

# RDFlib🧩

## RDF Graph🪓

In [ ]:
# 필요 패키지 불러오기
from rdflib import Graph, Literal, URIRef, Namespace
from rdflib.namespace import RDF, RDFS, OWL

# 그래프 객체 생성
g = Graph()

# NameSpace 정의
snu = Namespace('https://www.my.snu.ac.kr/ontology#')

# 'https://www.my.snu.ac.kr/ontology#'에 대한 prefix를 'snu'로 지정
g.bind("snu", snu)

# 그래프에 triple 추가하기
g.add((snu.Yamada, RDF.type, snu.Professor))
g.add((snu.John, RDF.type, snu.Student))
g.add((snu.Mary, RDF.type, snu.Student))
g.add((snu.Professor, RDFS.subClassOf, snu.SNUPeople))
g.add((snu.Student, RDFS.subClassOf, snu.SNUPeople))
g.add((snu.Yamada, snu.teaches, snu.John))
g.add((snu.Yamada, snu.teaches, snu.Mary))
g.add((snu.John, snu.take_class, Literal('온톨로지 및 지식그래프')))

# 그래프에 triple 삭제
g.remove((snu.Yamada, snu.teaches, snu.Mary))

## Triple 확인👀


<img src = "https://drive.google.com/uc?id=1dUk7JuoGlHde6Z9FTvEmSykI1_HbdwJn">

In [ ]:
# 저장된 triple 확인하기
for s, p, o in g:
  print((s, p, o))

(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Yamada'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Professor'))
(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#John'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Student'))
(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Student'), rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#subClassOf'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#SNUPeople'))
(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Professor'), rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#subClassOf'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#SNUPeople'))
(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#John'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#take_class'), rdflib.term.Literal('온톨로지 및 지식그래프'))
(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Mary'), rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#type'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Student'))
(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Yamada'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#teaches'), rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#John'))

In [ ]:
# 그래프 길이 확인하기
print(len(g))

7

In [ ]:
# 표로 살펴보기
import pandas as pd

sub = []
obj = []
pred = []

for s, p, o in g:
  sub.append(s)
  obj.append(o)
  pred.append(p)

df = pd.DataFrame(({
    'subject': sub,
    'predicate': pred,
    'object': obj
  }))

df = df.replace("http.*#", '', regex = True)
df

     subject   predicate        object
0     Yamada        type     Professor
1       John        type       Student
2    Student  subClassOf     SNUPeople
3  Professor  subClassOf     SNUPeople
4       John  take_class  온톨로지 및 지식그래프
5       Mary        type       Student
6     Yamada     teaches          John

In [ ]:
# 다양한 형식으로 출력해보기

## RDF/XML
print('✅ RDF/XML format')
print(g.serialize(format = 'xml'))

## Turtle
print('✅ Turtle format')
print(g.serialize(format = 'ttl'))

## JSON
print('✅ JSON format')
print(g.serialize(format = 'json-ld'))

✅ RDF/XML format
<?xml version="1.0" encoding="utf-8"?>
<rdf:RDF
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:snu="https://www.my.snu.ac.kr/ontology#"
>
  <rdf:Description rdf:about="https://www.my.snu.ac.kr/ontology#Yamada">
    <rdf:type rdf:resource="https://www.my.snu.ac.kr/ontology#Professor"/>
    <snu:teaches rdf:resource="https://www.my.snu.ac.kr/ontology#John"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://www.my.snu.ac.kr/ontology#John">
    <rdf:type rdf:resource="https://www.my.snu.ac.kr/ontology#Student"/>
    <snu:take_class>온톨로지 및 지식그래프</snu:take_class>
  </rdf:Description>
  <rdf:Description rdf:about="https://www.my.snu.ac.kr/ontology#Student">
    <rdfs:subClassOf rdf:resource="https://www.my.snu.ac.kr/ontology#SNUPeople"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://www.my.snu.ac.kr/ontology#Professor">
    <rdfs:subClassOf rdf:resource="https://www.my.snu.ac.kr/ontology#SNUPeople"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://www.my.snu.ac.kr/ontology#Mary">
    <rdf:type rdf:resource="https://www.my.snu.ac.kr/ontology#Student"/>
  </rdf:Description>
</rdf:RDF>

✅ Turtle format
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix snu: <https://www.my.snu.ac.kr/ontology#> .

snu:Mary a snu:Student .

snu:Yamada a snu:Professor ;
    snu:teaches snu:John .

snu:John a snu:Student ;
    snu:take_class "온톨로지 및 지식그래프" .

snu:Professor rdfs:subClassOf snu:SNUPeople .

snu:Student rdfs:subClassOf snu:SNUPeople .


✅ JSON format
[
  {
    "@id": "https://www.my.snu.ac.kr/ontology#Professor",
    "http://www.w3.org/2000/01/rdf-schema#subClassOf": [
      {
        "@id": "https://www.my.snu.ac.kr/ontology#SNUPeople"
      }
    ]
  },
  {
    "@id": "https://www.my.snu.ac.kr/ontology#John",
    "@type": [
      "https://www.my.snu.ac.kr/ontology#Student"
    ],
    "https://www.my.snu.ac.kr/ontology#take_class": [
      {
        "@value": "온톨로지 및 지식그래프"
      }
    ]
  },
  {
    "@id": "https://www.my.snu.ac.kr/ontology#Yamada",
    "@type": [
      "https://www.my.snu.ac.kr/ontology#Professor"
    ],
    "https://www.my.snu.ac.kr/ontology#teaches": [
      {
        "@id": "https://www.my.snu.ac.kr/ontology#John"
      }
    ]
  },
  {
    "@id": "https://www.my.snu.ac.kr/ontology#Mary",
    "@type": [
      "https://www.my.snu.ac.kr/ontology#Student"
    ]
  },
  {
    "@id": "https://www.my.snu.ac.kr/ontology#Student",
    "http://www.w3.org/2000/01/rdf-schema#subClassOf": [
      {
        "@id": "https://www.my.snu.ac.kr/ontology#SNUPeople"
      }
    ]
  }
]

In [ ]:
# 파일 저장
g.serialize(destination = "SNU.rdf", format = 'xml')

### 검색하기🔎

In [ ]:
# SNUPeople 클래스의 서브 클래스 모두 찾기
for role in g.subjects(RDFS.subClassOf, snu.SNUPeople):
  print(role)

https://www.my.snu.ac.kr/ontology#Professor
https://www.my.snu.ac.kr/ontology#Student

In [ ]:
# SPARQL로 검색하기 1
q = """
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX snu: <https://www.my.snu.ac.kr/ontology#>

SELECT ?role
WHERE {?role rdfs:subClassOf snu:SNUPeople}
"""

for qq in g.query(q):
  print(qq)

(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Professor'),)
(rdflib.term.URIRef('https://www.my.snu.ac.kr/ontology#Student'),)

In [ ]:
# 학생이 수강하는 수업 찾기
for student in g.subjects(RDF.type, snu.Student):
  for classes in g.objects(student, snu.take_class):
    print(classes)

온톨로지 및 지식그래프

In [ ]:
# SPARQL로 검색하기 2

q1 = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX snu: <https://www.my.snu.ac.kr/ontology#>

SELECT ?class
WHERE {?student rdf:type snu:Student;
snu:take_class ?class
}
"""

for qq in g.query(q1):
  print(qq)

(rdflib.term.Literal('온톨로지 및 지식그래프'),)

### 외부 온톨로지 불러오기💨

In [ ]:
# 그래프 객체 생성
graph = Graph()

# 그래프 불러와서 파싱하기 - 와인 온톨로지
graph.parse("SNUniversity.owl", format = 'xml')

# 와인 온톨로지 출력
print(graph.serialize(format = 'ttl'))

@prefix : <http://www.university.ac.kr/ontology#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .

<http://www.university.ac.kr/ontology> a owl:Ontology .

:간호학과 a :간호대학,
        owl:NamedIndividual .

:경영학과 a :경영대학,
        owl:NamedIndividual .

:교육학과 a :사범대학,
        owl:NamedIndividual .

:농경제사회학부 a :농생명과학대학,
        owl:NamedIndividual .

:물리교육과 a :사범대학,
        owl:NamedIndividual .

:바이오시스템소재학부 a :농생명과학대학,
        owl:NamedIndividual .

:생명과학부 a :자연과학대학,
        owl:NamedIndividual .

:서양화과 a :미술대학,
        owl:NamedIndividual .

:성악과 a :음악대학,
        owl:NamedIndividual .

:소비자아동학부 a :생활과학대학,
        owl:NamedIndividual .

:수의예과 a :수의과대학,
        owl:NamedIndividual .

:수의학과 a :수의과대학,
        owl:NamedIndividual .

:심리학과 a :사회과학대학,
        owl:NamedIndividual .

:약학과 a :약학대학,
        owl:NamedIndividual .

:언론정보학과 a :사회과학대학,
        owl:NamedIndividual .

:언어학과 a :인문대학,
        owl:NamedIndividual .

:영어영문학과 a :인문대학,
        owl:NamedIndividual .

:의류학과 a :생활과학대학,
        owl:NamedIndividual .

:의예과 a :의과대학,
        owl:NamedIndividual .

:의학과 a :의과대학,
        owl:NamedIndividual .

:재료공학부 a :공과대학,
        owl:NamedIndividual .

:제약학과 a :약학대학,
        owl:NamedIndividual .

:조소과 a :미술대학,
        owl:NamedIndividual .

:컴퓨터공학부 a :공과대학,
        owl:NamedIndividual .

:통계학과 a :자연과학대학,
        owl:NamedIndividual .

:피아노과 a :음악대학,
        owl:NamedIndividual .

:University a owl:Class .

:간호대학 a owl:Class ;
    rdfs:subClassOf :College .

:경영대학 a owl:Class ;
    rdfs:subClassOf :College .

:공과대학 a owl:Class ;
    rdfs:subClassOf :College .

:농생명과학대학 a owl:Class ;
    rdfs:subClassOf :College .

:미술대학 a owl:Class ;
    rdfs:subClassOf :College .

:사범대학 a owl:Class ;
    rdfs:subClassOf :College .

:사회과학대학 a owl:Class ;
    rdfs:subClassOf :College .

:생활과학대학 a owl:Class ;
    rdfs:subClassOf :College .

:수의과대학 a owl:Class ;
    rdfs:subClassOf :College .

:약학대학 a owl:Class ;
    rdfs:subClassOf :College .

:음악대학 a owl:Class ;
    rdfs:subClassOf :College .

:의과대학 a owl:Class ;
    rdfs:subClassOf :College .

:인문대학 a owl:Class ;
    rdfs:subClassOf :College .

:자연과학대학 a owl:Class ;
    rdfs:subClassOf :College .

:College a owl:Class ;
    rdfs:subClassOf :University .

## RDF Dataset💾

In [ ]:
# 필요 패키지 불러오기
from rdflib import Dataset

# 데이터 셋 객체 정의
dataset = Dataset()

# 그래프 객체 정의 - 데이터 셋에 그래프 2개 삽입
graph1 = dataset.graph(URIRef("https://www.my.snu.ac.kr/ontology#"))
graph2 = dataset.graph(URIRef("http://www.university.ac.kr/ontology#"))

# 온톨로지 파일 불러오기
graph1.parse("SNUniversity.owl")
graph2.parse("SNU.owl")

# dataset 확인
for graphs in dataset.graphs():
  print(graphs)

<https://www.my.snu.ac.kr/ontology#> a rdfg:Graph;rdflib:storage [a rdflib:Store;rdfs:label 'Memory'].
<http://www.university.ac.kr/ontology#> a rdfg:Graph;rdflib:storage [a rdflib:Store;rdfs:label 'Memory'].
<urn:x-rdflib:default> a rdfg:Graph;rdflib:storage [a rdflib:Store;rdfs:label 'Memory'].

# owlready2🦉
https://owlready2.readthedocs.io/en/latest/intro.html

In [ ]:
# 필요 패키지 불러오기
from owlready2 import *

# root 온톨로지 불러오기
ontology = get_ontology("seoul_national_university.owl")
ontology.load()

get_ontology("https://www.snu.ac.kr#")

In [ ]:
with ontology :

  # class 만들기
  class SNUPeople(Thing):
    pass

  class Course(Thing) :
    pass

  ## subclass 만들기
  class Professor(SNUPeople):
    pass

  class Student(SNUPeople):
    pass

  # object property 만들기
  class take_class(Student >> Course):
    pass

  class teach(Professor >> Course):
    pass

  # datatype property 만들기
  class semester(Course >> str):
    pass

  # class 제약 만들기 - Student와 Professor 클래스는 양립할 수 없다
  AllDisjoint([Student, Professor])

  # property 제약 만들기
  ## 교수는 일부 수업에서 강의를 한다.
  class teach(Professor >> Course):
    class_property_type = ["some"]

  ## take_class - teach 의 관계 정립
  take_class = Inverse(teach)

In [ ]:
# instance 만들기
김홍기 = Professor("김홍기")
야마다 = Professor("야마다")
빅데이터개론1 = Course('빅데이터개론1')
온톨로지 = Course('온톨로지_및_지식그래프')
김태형 = Student('김태형')
김남준 = Student('김남준')
전정국 = Student('전정국')

# instance에 owl:oneOf 사용하기
Student.is_a.append(OneOf([김태형, 김남준, 전정국]))

# object property와 instance 연결
야마다.teach = [빅데이터개론1]
김남준.take_class = [온톨로지]

# datatype property와 instance 연결
빅데이터개론1.semester = ["2023-2"]

# annotation property
온톨로지.comment = ["""본 과목은 온톨로지와 지식그래프 관련 기본 개념을 이해하고 이를 통해 복잡한 지식 구조를 모델링하는 방법을 습득하며,
온톨로지와 지식그래프가 어떻게 데이터 통합, 검색, 추론에 활용될 수 있는지를 배우고 분석하는 능력을 학습한다.
최종적으로는 온톨로지 구축 도구와 프로그래밍 언어를 사용하여 실제 온톨로지를 설계하고 구현하는 프로젝트를 통해 지식그래프 및 온톨로지 응용 프로그램 개발에 필요한 기술적 능력과 창의적 문제 해결 능력을 개발함을 목적으로 한다."""]

In [ ]:
# IRI 확인하기
Professor.iri

'https://www.snu.ac.kr#Professor'

In [ ]:
# SPARQL로 검색하기
list(default_world.sparql("""
PREFIX snu: <https://www.snu.ac.kr#>

SELECT *
{?x rdfs:subClassOf snu:SNUPeople}
"""))

[[seoul_national_university.Professor], [seoul_national_university.Student]]